.vs/
.vs/Group5_CPRG214_Lab2/config/applicationhost.config
.vs/Group5_CPRG214_Lab2/config/applicationhost.config
.vs/Group5_CPRG214_Lab2/config/applicationhost.config
.vs/Group5_CPRG214_Lab2/v16/.suo
